                * {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    font-family: "Times New Roman", Times, serif;
                }
                
                body {
                    /*  background-image: url("images/FundoLandingPage.jpeg"); */
                    background-color: black;
                    width: 100%;
                    height: 2000px;
                }
                
                .containerDeTudo {
                    width: 100%;
                    display: grid;
                    height: 2000px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 100px 600px 700px 300px;
                    grid-template-areas: "head head botoes botoes" "main main main main" "planos planos planos planos" "motivos motivos motivos motivos" "whats whats whats whats""marque marque marque marque";
                }
                
                .containerdoLogoeBotao {
                    width: 100%;
                    height: 130%;
                    grid-area: head;
                    z-index: 10;
                    /* background-color: blue; */
                }
                
                .logoWiretv {
                    width: 30%;
                    height: 130%;
                }
                
                .videoDeboasVindas {
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    /* background-color: rgb(213, 36, 178); */
                }
                
                .containerDosbotoesIniciais {
                    height: 100px;
                    z-index: 3;
                    padding: 6%;
                    grid-area: botoes;
                    text-align: center;
                    /* background-color: red; */
                }
                
                .planosBotao {
                    text-decoration: none;
                    margin-left: 6%;
                    color: rgb(0, 255, 255);
                    padding: 16px;
                    text-shadow: 4px 4px 4px rgba(0, 30, 30, 0.8);
                    -webkit-border-radius: 9px;
                    -moz-border-radius: 9px;
                    border-radius: 9px;
                    background: rgb(208, 0, 0);
                    background: -moz-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -webkit-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -o-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -ms-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: linear-gradient(0deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    -webkit-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    -moz-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    display: inline;
                }
                
                .revendedorBotao {
                    text-decoration: none;
                    margin-left: 6%;
                    color: rgb(0, 255, 255);
                    padding: 16px;
                    text-shadow: 4px 4px 4px rgba(0, 30, 30, 0.8);
                    -webkit-border-radius: 9px;
                    -moz-border-radius: 9px;
                    border-radius: 9px;
                    background: rgb(208, 0, 0);
                    background: -moz-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -webkit-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -o-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -ms-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: linear-gradient(0deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    -webkit-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    -moz-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    display: inline;
                }
                
                .contatoBotao {
                    text-decoration: none;
                    margin-left: 6%;
                    color: rgb(0, 255, 255);
                    padding: 16px;
                    text-shadow: 4px 4px 4px rgba(0, 30, 30, 0.8);
                    -webkit-border-radius: 9px;
                    -moz-border-radius: 9px;
                    border-radius: 9px;
                    background: rgb(208, 0, 0);
                    background: -moz-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -webkit-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -o-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -ms-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: linear-gradient(0deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    -webkit-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    -moz-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    display: inline;
                }
                
                li {
                    display: inline;
                }
                
                .containerDovideo {
                    z-index: 2;
                    grid-area: main;
                }
                
                .containerDosplanos {
                    font-size: 100%;
                    width: 100%;
                    text-align: center;
                    grid-area: texto1;
                    height: 1000px;
                    /* background-color: aquamarine; */
                }
                
                #planosTitulo {
                    color: rgb(0, 255, 255);
                    padding: 0px;
                    text-shadow: 4px 4px 4px rgba(0, 30, 30, 0.8);
                    font-size: 80px;
                    width: 100%;
                    height: 90px;
                }
                
                .confiraNossosPlanosTexto {
                    color: rgb(0, 255, 255);
                    text-shadow: 0px 2px 2px rgba(0, 30, 30, 0.8);
                    font-size: 20px;
                    width: 100%;
                    height: 70px;
                }
                
                .containerPlanosRevendedor {
                    width: 100%;
                    height: 100%;
                    grid-area: planos;
                    /* background-color: khaki; */
                }
                
                .divDosplanos {
                    height: 600px;
                    width: 100%;
                    align-items: center;
                }
                
                .conteudo {
                    border-style: dashed;
                    color: rgb(0, 255, 255);
                    margin: 5px 5px;
                    width: 15%;
                    height: 400px;
                    background: black;
                    float: left;
                    margin-left: 40px;
                    margin-top: 2%;
                    text-align: center;
                    border-radius: 20px;
                    transition: 0.8s;
                }
                
                .conteudoMotivos {
                    color: rgb(230, 136, 22);
                    margin: 5px 5px;
                    width: 19%;
                    height: 100%;
                    float: left;
                    margin-left: 40px;
                    margin-top: 2%;
                    text-align: center;
                    border-radius: 20px;
                    border-style: dotted;
                    border-color: lightslategray;
                    /* background-color: khaki; */
                }
                
                .conteudo:hover {
                    color: rgb(0, 255, 255);
                    margin: 5px 5px;
                    width: 15%;
                    height: 400px;
                    background: rgb(59, 22, 134);
                    float: left;
                    margin-left: 40px;
                    margin-top: 2%;
                    text-align: center;
                    border-radius: 20px;
                    transition: 0.8s;
                }
                
                .preco {
                    left: 4%;
                    height: 120px;
                    margin: 5%;
                    text-align: center;
                }
                
                .detalhes {
                    line-height: 150%;
                    margin-top: -70px;
                    margin-bottom: 25px;
                }
                
                .detalhesMotivos {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
                
                html {
                    width: 100%;
                    scroll-behavior: smooth;
                }
                
                marquee {
                    height: 30px;
                    grid-area: marque;
                    color: rgb(0, 255, 255);
                    font-size: 20px;
                    padding: 10px;
                    text-shadow: 0px 2px 2px rgba(0, 30, 30, 0.8);
                }
                
                .queroEste {
                    text-decoration: none;
                    margin-left: 4%;
                    color: rgb(0, 255, 255);
                    padding: 11px;
                    text-shadow: 4px 4px 4px rgba(0, 30, 30, 0.8);
                    -webkit-border-radius: 9px;
                    -moz-border-radius: 9px;
                    border-radius: 9px;
                    background: rgb(208, 0, 0);
                    background: -moz-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -webkit-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -o-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: -ms-linear-gradient(90deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    background: linear-gradient(0deg, rgb(208, 0, 0) 0%, rgb(152, 0, 0) 73%);
                    -webkit-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    -moz-box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    box-shadow: 1px 1px 30px rgba(255, 50, 50, 0.92);
                    display: inline;
                }
                
                .bonsMotivos {
                    height: 100%;
                    width: 100%;
                    grid-area: motivos;
                }
                
                .whatslogo {
                    padding-bottom: 15%;
                    text-align: center;
                    width: 100%;
                    height: 15%;
                    grid-area: whats;
                }
                
                #jisse {
                    color: rgb(21, 180, 58);
                }